.modal-panel-workflow {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: flex-end;
  padding: 16px;
  position: relative;
  width: 458px;
}

.modal-panel-workflow .div {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.modal-panel-workflow .select-default {
  align-items: flex-start;
  align-self: stretch;
  background-blend-mode: multiply;
  background-color: var(--transparenttransparent);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.modal-panel-workflow .label-margin {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 0px 8px;
  position: relative;
  width: 100%;
}

.modal-panel-workflow .select-label {
  align-self: stretch;
  color: var(--texttext-secondary);
  font-family: var(--utility-styles-label-01-font-family);
  font-size: var(--utility-styles-label-01-font-size);
  font-style: var(--utility-styles-label-01-font-style);
  font-weight: var(--utility-styles-label-01-font-weight);
  letter-spacing: var(--utility-styles-label-01-letter-spacing);
  line-height: var(--utility-styles-label-01-line-height);
  margin-top: -1px;
  position: relative;
}

.modal-panel-workflow .select-menu-default {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.modal-panel-workflow .select-items {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  padding: 15px 16px;
  position: relative;
  width: 100%;
}

.modal-panel-workflow .text-overflow {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  height: 18px;
  position: relative;
  z-index: 2;
}

.modal-panel-workflow .option {
  color: var(--texttext-primary);
  flex: 1;
  font-family: var(--body-styles-body-compact-01-font-family);
  font-size: var(--body-styles-body-compact-01-font-size);
  font-style: var(--body-styles-body-compact-01-font-style);
  font-weight: var(--body-styles-body-compact-01-font-weight);
  height: 18px;
  letter-spacing: var(--body-styles-body-compact-01-letter-spacing);
  line-height: var(--body-styles-body-compact-01-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.modal-panel-workflow .chevron-error {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  z-index: 1;
}

.modal-panel-workflow .chevron-down {
  background-blend-mode: multiply !important;
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}

.modal-panel-workflow .background {
  background-color: var(--fieldfield-01);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--borderborder-strong-01);
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 426px;
  z-index: 0;
}

.modal-panel-workflow .frame-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 4px 4px;
  position: relative;
  width: 100%;
}

.modal-panel-workflow .tag-instance {
  background-color: var(--theme-layer-layer-selected-02) !important;
  flex: 0 0 auto !important;
}

.modal-panel-workflow .design-component-instance-node {
  color: var(--theme-text-text-primary) !important;
}

.modal-panel-workflow .line {
  height: 7.36px;
  object-fit: cover;
  position: relative;
  width: 12.5px;
}

.modal-panel-workflow .tag-2 {
  color: var(--texttext-primary) !important;
  font-family: var(--utility-label-01-font-family) !important;
  font-size: var(--utility-label-01-font-size) !important;
  font-style: var(--utility-label-01-font-style) !important;
  font-weight: var(--utility-label-01-font-weight) !important;
  letter-spacing: var(--utility-label-01-letter-spacing) !important;
  line-height: var(--utility-label-01-line-height) !important;
}

.modal-panel-workflow .frame-3 {
  align-items: center;
  align-self: stretch;
  background-color: var(--theme-layer-layer-03);
  border-radius: 5px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  padding: 32px 24px;
  position: relative;
  width: 100%;
}

.modal-panel-workflow .navigate-rock-the {
  height: 100px;
  position: relative;
  width: 149.37px;
}

.modal-panel-workflow .p {
  align-self: stretch;
  color: var(--theme-text-text-secondary);
  font-family: var(--body-body-01-font-family);
  font-size: var(--body-body-01-font-size);
  font-style: var(--body-body-01-font-style);
  font-weight: var(--body-body-01-font-weight);
  letter-spacing: var(--body-body-01-letter-spacing);
  line-height: var(--body-body-01-line-height);
  position: relative;
  text-align: center;
}
