.modal-footer-item {
  align-items: flex-start;
  display: flex;
  gap: 1px;
  position: relative;
  width: 640px;
}

.modal-footer-item .button-3 {
  align-self: stretch !important;
  display: flex !important;
  flex: 1 !important;
  flex-grow: 1 !important;
}

.modal-footer-item .button-4 {
  z-index: unset !important;
}

.modal-footer-item .spacer {
  background-blend-mode: multiply;
  background-color: var(--transparenttransparent);
  flex: 1;
  flex-grow: 1;
  height: 64px;
  position: relative;
}
