.button-primary {
  color: white;
  background-color: #0f62fe;
}

.button-secondary {
  color: white;
  background-color: #393939;
}

.button-danger {
  color: white;
  background-color: brown;
}

.button-ghost {
  color: #393939;
  background-color: transparent;
}

.button-ghost:hover {
  color: #393939;
  background-color: rgba(141, 141, 141, 0.12);
}

.button-tertiary {
  color: #0f62fe;
  background-color: white;
  border: 1px #0f62fe solid;
}

.button-tertiary:hover {
  color: white;
  background-color: #0f62fe;
}

.button-content {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.button-icon {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-left: auto;
  justify-content:center;
}

.button-size-large .button-type-text-icon{
  padding: 15px 64px 15px 16px;
}

.button-size-large .button-type-icon-only{
  padding: 15px 16px 15px 16px;
}

.button-size-small{
  padding: 8px;
}

.button-size-extra-large{
  padding: 15px 64px 31px 16px;
}
