.file-uploader-drag {
  align-items: center;
  justify-content: center;
  background-blend-mode: multiply;
  background-color: var(--transparenttransparent);
  position: relative;
}

.file-uploader-drag .description-wrapper {
  align-items: flex-start;
  display: flex;
  padding: 10px 96px 50px 16px;
  position: relative;
}

.file-uploader-drag .description {
  flex: 1;
  font-family: "IBM Plex Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.16px;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
}

.file-uploader-drag.state-focus {
  border: 2px solid;
  border-color: #0f62fe;
  display: inline-flex;
}

.file-uploader-drag.state-enabled {
  border: 1px dashed;
  border-color: #8d8d8d;
  display: flex;
  width: 288px;
}

.file-uploader-drag.state-drag-hover {
  border: 2px solid;
  border-color: #0f62fe;
  display: inline-flex;
}

.file-uploader-drag.state-disabled {
  border: 1px dashed;
  border-color: var(--borderborder-disabled);
  display: inline-flex;
}

.file-uploader-drag.state-focus .description-wrapper {
  width: 288px;
}

.file-uploader-drag.state-enabled .description-wrapper {
  flex: 1;
  flex-grow: 1;
}

.file-uploader-drag.state-drag-hover .description-wrapper {
  width: 288px;
}

.file-uploader-drag.state-disabled .description-wrapper {
  width: 288px;
}

.file-uploader-drag.state-focus .description {
  color: #0f62fe;
}

.file-uploader-drag.state-enabled .description {
  color: #0f62fe;
}

.file-uploader-drag.state-drag-hover .description {
  color: #0f62fe;
}

.file-uploader-drag.state-disabled .description {
  color: #c6c6c6;
}
.file-uploader-drag .upload-button {
  align-items: center;
  justify-content: center;
  border-bottom-width: 1px;
  border-color: var(--borderborder-strong-01);
  display: flex;
  flex: 0 0 auto;
  /* gap: 8px; */
  padding: 8px 16px;
  right: 30px;
  position: relative;

}