.data-table-toolbar {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 920px;
}

.data-table-toolbar .search-default-instance {
  display: flex !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  justify-content: flex-end !important;
}

.data-table-toolbar .button-instance {
  flex: 0 0 auto !important;
}

.data-table-toolbar .add-2 {
  background-blend-mode: multiply !important;
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}

.data-table-toolbar .button-2 {
  z-index: unset !important;
}
