.toggle-item {
  align-items: flex-start;
  border-radius: 12px;
  display: flex;
  gap: 10px;
  overflow: hidden;
  padding: 3px;
  position: relative;
}

.toggle-item .switch {
  background-color: var(--iconicon-on-color);
  border-radius: 100px;
  height: 18px;
  position: relative;
  width: 18px;
}

.toggle-item.enabled {
  background-color: var(--basebg);
}

.toggle-item.read-only {
  border: 1px solid;
  border-color: var(--basebg);
}

.toggle-item.default {
  width: 48px;
}

.toggle-item.small {
  width: 32px;
}
