.checkbox {
  background-blend-mode: multiply;
  background-color: var(--transparenttransparent);
  display: inline-flex;
  gap: 8px;
  position: relative;
}

.checkbox .label {
  font-family: var(--utility-styles-label-01-font-family);
  font-size: var(--utility-styles-label-01-font-size);
  font-style: var(--utility-styles-label-01-font-style);
  font-weight: var(--utility-styles-label-01-font-weight);
  letter-spacing: var(--utility-styles-label-01-letter-spacing);
  line-height: var(--utility-styles-label-01-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.checkbox .icon-value {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.checkbox .instance-node {
  background-blend-mode: multiply !important;
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.checkbox .value-margin {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 1px 0px;
  position: relative;
}

.checkbox .value {
  font-family: var(--body-styles-body-compact-01-font-family);
  font-size: var(--body-styles-body-compact-01-font-size);
  font-style: var(--body-styles-body-compact-01-font-style);
  font-weight: var(--body-styles-body-compact-01-font-weight);
  letter-spacing: var(--body-styles-body-compact-01-letter-spacing);
  line-height: var(--body-styles-body-compact-01-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.checkbox .checkbox-group {
  background-size: 100% 100%;
  height: 20px;
  position: relative;
  width: 20px;
}

.checkbox .checkbox-checked {
  background-blend-mode: multiply;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.checkbox .text-wrapper {
  color: var(--texttext-primary);
  font-family: var(--body-styles-body-compact-01-font-family);
  font-size: var(--body-styles-body-compact-01-font-size);
  font-style: var(--body-styles-body-compact-01-font-style);
  font-weight: var(--body-styles-body-compact-01-font-weight);
  letter-spacing: var(--body-styles-body-compact-01-letter-spacing);
  line-height: var(--body-styles-body-compact-01-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.checkbox .div {
  font-family: var(--body-styles-body-compact-01-font-family);
  font-size: var(--body-styles-body-compact-01-font-size);
  font-style: var(--body-styles-body-compact-01-font-style);
  font-weight: var(--body-styles-body-compact-01-font-weight);
  letter-spacing: var(--body-styles-body-compact-01-letter-spacing);
  line-height: var(--body-styles-body-compact-01-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.checkbox .instance-node-2 {
  background-blend-mode: multiply !important;
  height: 22px !important;
  margin-bottom: -1px !important;
  margin-left: -1px !important;
  margin-top: -1px !important;
  position: relative !important;
  width: 22px !important;
}

.checkbox .div-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 0px 0px 0px 2px;
  position: relative;
  width: 100%;
}

.checkbox .status-icon {
  background-blend-mode: multiply;
  background-color: var(--transparenttransparent);
  height: 16px;
  position: relative;
  width: 16px;
}

.checkbox .overlap-group {
  height: 16px;
  position: relative;
}

.checkbox .fill {
  background-color: var(--theme-inverse-white-black-white-in-light-themes);
  height: 10px;
  left: 4px;
  position: absolute;
  top: 3px;
  width: 8px;
}

.checkbox .instance-node-3 {
  background-blend-mode: multiply !important;
  height: 16px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 16px !important;
}

.checkbox .error-message-goes {
  color: var(--texttext-error);
  flex: 1;
  font-family: var(--utility-styles-label-01-font-family);
  font-size: var(--utility-styles-label-01-font-size);
  font-style: var(--utility-styles-label-01-font-style);
  font-weight: var(--utility-styles-label-01-font-weight);
  letter-spacing: var(--utility-styles-label-01-letter-spacing);
  line-height: var(--utility-styles-label-01-line-height);
  margin-top: -1px;
  position: relative;
}

.checkbox .fill-2 {
  background-color: var(--accessibilityblack);
  height: 9px;
  left: 6px;
  position: absolute;
  top: 5px;
  width: 4px;
}

.checkbox .warning-message-goes {
  color: var(--texttext-primary);
  flex: 1;
  font-family: var(--utility-styles-label-01-font-family);
  font-size: var(--utility-styles-label-01-font-size);
  font-style: var(--utility-styles-label-01-font-style);
  font-weight: var(--utility-styles-label-01-font-weight);
  letter-spacing: var(--utility-styles-label-01-letter-spacing);
  line-height: var(--utility-styles-label-01-line-height);
  margin-top: -1px;
  position: relative;
}

.checkbox .value-line {
  background-color: var(--skeletonskeleton-background);
  flex: 1;
  flex-grow: 1;
  height: 8px;
  position: relative;
}

.checkbox.disabled {
  align-items: flex-start;
  flex-direction: column;
}

.checkbox.focus {
  align-items: flex-start;
  flex-direction: column;
}

.checkbox.read-only {
  align-items: flex-start;
  flex-direction: column;
}

.checkbox.invalid {
  align-items: flex-start;
  flex-direction: column;
}

.checkbox.warning {
  align-items: flex-start;
  flex-direction: column;
}

.checkbox.skeleton {
  align-items: center;
}

.checkbox.enabled {
  align-items: flex-start;
  flex-direction: column;
}

.checkbox .unchecked {
  background-image: url(../../../../assets/images/Experiments/ElementCreateTarget/checkbox-checked.svg);
}

.checkbox .indeterminate {
  background-image: url(../../../../assets/images/Experiments/ElementCreateTarget/checkbox-indeterminate.svg);
}

.checkbox .checked {
  background-image: url(../../../../assets/images/Experiments/ElementCreateTarget/checkbox-checked.svg);
}

.checkbox.disabled .label {
  color: var(--texttext-disabled);
}

.checkbox.focus .label {
  color: var(--texttext-secondary);
}

.checkbox.read-only .label {
  color: var(--texttext-secondary);
}

.checkbox.invalid .label {
  color: var(--texttext-secondary);
}

.checkbox.warning .label {
  color: var(--texttext-secondary);
}

.checkbox.skeleton .label {
  color: var(--texttext-secondary);
}

.checkbox.enabled .label {
  color: var(--texttext-secondary);
}

.checkbox.disabled .value {
  color: var(--texttext-disabled);
}

.checkbox.focus .value {
  color: var(--texttext-primary);
}

.checkbox.read-only .value {
  color: var(--texttext-primary);
}

.checkbox.invalid .value {
  color: var(--texttext-primary);
}

.checkbox.warning .value {
  color: var(--texttext-primary);
}

.checkbox.skeleton .value {
  color: var(--texttext-primary);
}

.checkbox.enabled .value {
  color: var(--texttext-primary);
}

.checkbox.disabled .div {
  color: var(--texttext-disabled);
}

.checkbox.focus .div {
  color: var(--texttext-primary);
}

.checkbox.read-only .div {
  color: var(--texttext-primary);
}

.checkbox.invalid .div {
  color: var(--texttext-primary);
}

.checkbox.warning .div {
  color: var(--texttext-primary);
}

.checkbox.skeleton .div {
  color: var(--texttext-primary);
}

.checkbox.enabled .div {
  color: var(--texttext-primary);
}
