.floating-window-container {
    position: relative;
  }
  
.toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9999; /* Ensure button appears above the floating window */
}

.floating-window {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.molstar-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  left: 1000px;
  position: absolute;
  top: 340px;
  width: 480px;
}
