.toggle-switch-small {
  border-radius: 20px;
  height: 10px;
  position: relative;
  width: 10px;
}

.toggle-switch-small .checkmark {
  background-blend-mode: multiply !important;
  height: 6px !important;
  left: 2px !important;
  position: absolute !important;
  top: 2px !important;
  width: 6px !important;
}

.toggle-switch-small.disabled-false {
  background-color: var(--iconicon-on-color);
}

.toggle-switch-small.disabled-true {
  background-color: var(--iconicon-disabled);
}

.toggle-switch-small.toggled-true {
  overflow: hidden;
}
