.tag-close-button {
  align-items: flex-start;
  border-radius: 24px;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.tag-close-button .close-97 {
  background-blend-mode: multiply !important;
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}

.tag-close-button.size-6-small {
  padding: 1px;
}

.tag-close-button.size-6-medium {
  padding: 4px;
}

.tag-close-button.state-5-focus {
  border: 1px solid;
}

.tag-close-button.state-5-hover.color-0-red {
  background-color: var(--theme-tag-red-tag-hover-red);
}

.tag-close-button.color-0-cyan.state-5-hover {
  background-color: var(--theme-tag-cyan-tag-hover-cyan);
}

.tag-close-button.color-0-purple.state-5-hover {
  background-color: var(--theme-tag-purple-tag-hover-purple);
}

.tag-close-button.color-0-magenta.state-5-disabled {
  background-color: var(--layerlayer-01);
}

.tag-close-button.color-0-purple.state-5-disabled {
  background-color: var(--layerlayer-01);
}

.tag-close-button.state-5-hover.color-0-warm-gray {
  background-color: var(--theme-tag-warm-gray-tag-hover-gray);
}

.tag-close-button.color-0-outline.state-5-disabled {
  background-color: var(--backgroundbackground);
}

.tag-close-button.color-0-gray.state-5-disabled {
  background-color: var(--layerlayer-01);
}

.tag-close-button.color-0-red.state-5-enabled {
  background-color: var(--theme-tag-red-tag-background-red);
}

.tag-close-button.color-0-cyan.state-5-enabled {
  background-color: var(--theme-tag-cyan-tag-background-cyan);
}

.tag-close-button.state-5-enabled.color-0-high-contrast {
  background-color: var(--theme-background-background-inverse);
}

.tag-close-button.state-5-hover.color-0-gray {
  background-color: var(--theme-tag-gray-tag-hover-gray);
}

.tag-close-button.state-5-enabled.color-0-green {
  background-color: var(--theme-tag-green-tag-background-green);
}

.tag-close-button.state-5-enabled.color-0-blue {
  background-color: var(--theme-tag-blue-tag-background-blue);
}

.tag-close-button.color-0-teal.state-5-disabled {
  background-color: var(--layerlayer-01);
}

.tag-close-button.state-5-disabled.color-0-green {
  background-color: var(--layerlayer-01);
}

.tag-close-button.color-0-outline.state-5-focus {
  background-color: var(--backgroundbackground);
  border-color: var(--theme-focus-focus);
}

.tag-close-button.state-5-enabled.color-0-warm-gray {
  background-color: var(--theme-tag-warm-gray-tag-background-warm-gray);
}

.tag-close-button.color-0-teal.state-5-focus {
  background-color: var(--theme-tag-teal-tag-background-teal);
  border-color: var(--theme-focus-focus);
}

.tag-close-button.state-5-hover.color-0-cool-gray {
  background-color: var(--theme-tag-cool-gray-tag-hover-gray);
}

.tag-close-button.color-0-high-contrast.state-5-disabled {
  background-color: var(--layerlayer-01);
}

.tag-close-button.state-5-hover.color-0-outline {
  background-color: var(--theme-background-background-hover);
}

.tag-close-button.color-0-cyan.state-5-disabled {
  background-color: var(--layerlayer-01);
}

.tag-close-button.color-0-red.state-5-disabled {
  background-color: var(--layerlayer-01);
}

.tag-close-button.state-5-hover.color-0-teal {
  background-color: var(--theme-tag-teal-tag-hover-teal);
}

.tag-close-button.color-0-magenta.state-5-focus {
  background-color: var(--theme-tag-magenta-tag-background-magenta);
  border-color: var(--theme-focus-focus);
}

.tag-close-button.state-5-hover.color-0-high-contrast {
  background-color: var(--theme-background-background-inverse);
}

.tag-close-button.color-0-high-contrast.state-5-focus {
  background-color: var(--theme-background-background-inverse);
  border-color: var(--theme-focus-focus-inverse);
}

.tag-close-button.color-0-purple.state-5-enabled {
  background-color: var(--theme-tag-purple-tag-background-purple);
}

.tag-close-button.state-5-hover.color-0-magenta {
  background-color: var(--theme-tag-magenta-tag-hover-magenta);
}

.tag-close-button.state-5-enabled.color-0-magenta {
  background-color: var(--theme-tag-magenta-tag-background-magenta);
}

.tag-close-button.color-0-gray.state-5-focus {
  background-color: var(--theme-tag-gray-tag-background-gray);
  border-color: var(--theme-focus-focus);
}

.tag-close-button.color-0-warm-gray.state-5-disabled {
  background-color: var(--layerlayer-01);
}

.tag-close-button.color-0-purple.state-5-focus {
  background-color: var(--theme-tag-purple-tag-background-purple);
  border-color: var(--theme-focus-focus);
}

.tag-close-button.state-5-hover.color-0-green {
  background-color: var(--theme-tag-green-tag-hover-green);
}

.tag-close-button.state-5-enabled.color-0-teal {
  background-color: var(--theme-tag-teal-tag-background-teal);
}

.tag-close-button.color-0-warm-gray.state-5-focus {
  background-color: var(--theme-tag-warm-gray-tag-background-warm-gray);
  border-color: var(--theme-focus-focus);
}

.tag-close-button.color-0-cool-gray.state-5-disabled {
  background-color: var(--layerlayer-01);
}

.tag-close-button.color-0-blue.state-5-disabled {
  background-color: var(--layerlayer-01);
}

.tag-close-button.color-0-green.state-5-focus {
  background-color: var(--theme-tag-green-tag-background-green);
  border-color: var(--theme-focus-focus);
}

.tag-close-button.color-0-blue.state-5-focus {
  background-color: var(--theme-tag-blue-tag-background-blue);
  border-color: var(--theme-focus-focus);
}

.tag-close-button.state-5-hover.color-0-blue {
  background-color: var(--theme-tag-blue-tag-hover-blue);
}

.tag-close-button.color-0-cool-gray.state-5-focus {
  background-color: var(--theme-tag-cool-gray-tag-background-cool-gray);
  border-color: var(--theme-focus-focus);
}

.tag-close-button.color-0-red.state-5-focus {
  background-color: var(--theme-tag-red-tag-background-red);
  border-color: var(--theme-focus-focus);
}

.tag-close-button.state-5-enabled.color-0-gray {
  background-color: var(--theme-tag-gray-tag-background-gray);
}

.tag-close-button.color-0-cyan.state-5-focus {
  background-color: var(--theme-tag-cyan-tag-background-cyan);
  border-color: var(--theme-focus-focus);
}

.tag-close-button.state-5-enabled.color-0-outline {
  background-color: var(--backgroundbackground);
}

.tag-close-button.state-5-enabled.color-0-cool-gray {
  background-color: var(--theme-tag-cool-gray-tag-background-cool-gray);
}
