.modal-panel-choose {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  position: relative;

}

.modal-panel-choose .frame {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
  width: 100%;
}

.modal-panel-choose .tile-instance {
  background-color: var(--backgroundbackground) !important;
  width: unset !important;
  flex: 1 !important;
  flex-grow: 1 !important;
}

.modal-panel-choose .text-wrapper-4 {
  color: #000000;
  font-family: var(--body-body-02-font-family);
  font-size: var(--body-body-02-font-size);
  font-style: var(--body-body-02-font-style);
  font-weight: var(--body-body-02-font-weight);
  letter-spacing: var(--body-body-02-letter-spacing);
  line-height: var(--body-body-02-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.modal-panel-choose .custom-checkbox {

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 14px;
  height: 14px;
  border: 1.5px solid #333;

  outline: none;
  cursor: pointer;
  margin-right: 10px !important;
  margin-bottom: -2px !important;
}

.modal-panel-choose:checked {
  background-color: #0075FF; 
  border-color: #0075FF;
}

.modal-panel-choose:checked::before {
  content: '\2713';
  position: absolute;
  top: 2px;
  font-size: 15px;
  color: #FFF;
}