.button {
  all: unset;
  box-sizing: border-box;
}

.button .button-content {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.button .text-wrapper-2 {
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.button .icon {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.button .icon-spacer {
  flex: 0 0 auto;
  position: relative;
  z-index: 1;
}

.button .add-18 {
  background-blend-mode: multiply !important;
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.button .add-8 {
  background-blend-mode: multiply !important;
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}

.button .add-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  z-index: 0;
}

.button .button-wrapper {
  all: unset;
  align-items: center;
  align-self: stretch;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  padding: 11px 64px 11px 16px;
  position: relative;
  width: 100%;
}

.button .text-wrapper-3 {
  color: var(--theme-text-text-on-color);
  font-family: var(--body-styles-body-compact-01-font-family);
  font-size: var(--body-styles-body-compact-01-font-size);
  font-style: var(--body-styles-body-compact-01-font-style);
  font-weight: var(--body-styles-body-compact-01-font-weight);
  letter-spacing: var(--body-styles-body-compact-01-letter-spacing);
  line-height: var(--body-styles-body-compact-01-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.button .icon-2 {
  align-items: flex-start;
  background-blend-mode: multiply;
  background-color: var(--transparenttransparent);
  display: inline-flex;
  flex-direction: column;
  left: 124px;
  position: absolute;
  top: 12px;
}

.button.state-2-disabled {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.button.state-2-hover {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.button.state-2-skeleton {
  background-color: var(--theme-miscellaneous-skeleton-background);
}

.button.state-2-enabled {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.button.state-2-active {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.button.state-2-focus {
  align-items: flex-start;
  border: 2px solid;
  border-color: var(--theme-focus-focus);
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.button.tertiary.state-2-focus {
  background-color: var(--theme-button-button-tertiary);
}

.button.danger-ghost.state-2-disabled {
  background-blend-mode: multiply;
  background-color: var(--transparenttransparent);
}

.button.state-2-active.danger-primary {
  background-color: var(--theme-button-button-danger-active);
}

.button.state-2-hover.danger-tertiary {
  background-color: var(--theme-button-button-danger-hover);
}

.button.state-2-disabled.danger-primary {
  background-color: var(--theme-button-button-disabled);
}

.button.secondary.state-2-focus {
  background-color: var(--theme-button-button-secondary);
}

.button.primary.state-2-disabled {
  background-color: var(--theme-button-button-disabled);
}

.button.primary.state-2-enabled {
  background-color: var(--theme-button-button-primary);
}

.button.state-2-enabled.danger-primary {
  background-color: var(--theme-button-button-danger-primary);
}

.button.secondary.state-2-hover {
  background-color: var(--theme-button-button-secondary-hover);
}

.button.state-2-hover.danger-ghost {
  background-color: var(--theme-button-button-danger-hover);
}

.button.ghost.state-2-disabled {
  background-blend-mode: multiply;
  background-color: var(--transparenttransparent);
}

.button.ghost.state-2-active {
  background-color: var(--theme-background-background-active);
}

.button.danger-primary.state-2-focus {
  background-color: var(--theme-button-button-danger-primary);
}

.button.state-2-skeleton.size-2-large {
  height: 48px;
}

.button.state-2-enabled.tertiary {
  background-blend-mode: multiply;
  background-color: var(--transparenttransparent);
  border: 1px solid;
  border-color: var(--theme-button-button-tertiary);
}

.button.primary.state-2-hover {
  background-color: var(--theme-button-button-primary-hover);
}

.button.state-2-skeleton.size-2-two-x-large {
  height: 80px;
}

.button.state-2-enabled.danger-tertiary {
  background-blend-mode: multiply;
  background-color: var(--transparenttransparent);
  border: 1px solid;
  border-color: var(--theme-button-button-danger-secondary);
}

.button.secondary.state-2-active {
  background-color: var(--theme-button-button-secondary-active);
}

.button.primary.state-2-focus {
  background-color: var(--theme-button-button-primary);
}

.button.secondary.state-2-disabled {
  background-color: var(--theme-button-button-disabled);
}

.button.state-2-skeleton.size-2-expressive {
  height: 48px;
}

.button.danger-ghost.state-2-active {
  background-color: var(--theme-button-button-danger-active);
}

.button.tertiary.state-2-disabled {
  background-blend-mode: multiply;
  background-color: var(--transparenttransparent);
  border: 1px solid;
  border-color: var(--theme-button-button-disabled);
}

.button.state-2-hover.ghost {
  background-color: var(--theme-background-background-hover);
}

.button.ghost.state-2-focus {
  background-blend-mode: multiply;
  background-color: var(--transparenttransparent);
}

.button.state-2-enabled.ghost {
  background-blend-mode: multiply;
  background-color: var(--transparenttransparent);
}

.button.state-2-skeleton.size-2-extra-large {
  height: 64px;
}

.button.state-2-active.tertiary {
  background-color: var(--theme-button-button-tertiary-active);
}

.button.primary.state-2-active {
  background-color: var(--theme-button-button-primary-active);
}

.button.state-2-skeleton.size-2-small {
  height: 32px;
}

.button.state-2-enabled.danger-ghost {
  background-blend-mode: multiply;
  background-color: var(--transparenttransparent);
}

.button.secondary.state-2-enabled {
  background-color: var(--theme-button-button-secondary);
}

.button.state-2-active.danger-tertiary {
  background-color: var(--theme-button-button-danger-active);
}

.button.state-2-hover.danger-primary {
  background-color: var(--theme-button-button-danger-hover);
}

.button.state-2-disabled.danger-tertiary {
  background-blend-mode: multiply;
  background-color: var(--transparenttransparent);
  border: 1px solid;
  border-color: var(--theme-button-button-disabled);
}

.button.danger-ghost.state-2-focus {
  background-color: var(--theme-button-button-danger-primary);
}

.button.danger-tertiary.state-2-focus {
  background-color: var(--theme-button-button-danger-secondary);
}

.button.state-2-skeleton.size-2-medium {
  height: 40px;
}

.button.state-2-hover.tertiary {
  background-color: var(--theme-button-button-tertiary-hover);
}

.button.state-2-skeleton.size-2-small.danger-primary {
  width: 124px;
}

.button.state-2-disabled.danger-primary.size-2-expressive {
  border: 1px solid;
  border-color: var(--theme-button-button-disabled);
}

.button.state-2-skeleton.size-2-small.danger-tertiary {
  width: 124px;
}

.button.primary.state-2-skeleton.size-2-two-x-large {
  width: 124px;
}

.button.state-2-skeleton.size-2-expressive.icon-only {
  width: 48px;
}

.button.state-2-skeleton.ghost.size-2-two-x-large {
  width: 100px;
}

.button.size-2-large.state-2-skeleton.danger-tertiary {
  width: 124px;
}

.button.state-2-skeleton.danger-ghost.size-2-medium {
  width: 100px;
}

.button.state-2-hover.size-2-medium.danger-primary {
  overflow: hidden;
}

.button.size-2-medium.state-2-skeleton.danger-tertiary {
  width: 124px;
}

.button.secondary.state-2-disabled.size-2-expressive {
  border: 1px solid;
  border-color: var(--theme-button-button-disabled);
}

.button.primary.state-2-disabled.size-2-expressive {
  border: 1px solid;
  border-color: var(--theme-button-button-disabled);
}

.button.state-2-skeleton.tertiary.size-2-two-x-large {
  width: 124px;
}

.button.state-2-skeleton.danger-ghost.size-2-large {
  width: 100px;
}

.button.state-2-skeleton.danger-tertiary.size-2-extra-large {
  width: 124px;
}

.button.size-2-large.state-2-skeleton.danger-primary {
  width: 124px;
}

.button.secondary.state-2-skeleton.size-2-two-x-large {
  width: 124px;
}

.button.state-2-skeleton.danger-primary.size-2-extra-large {
  width: 124px;
}

.button.size-2-medium.state-2-skeleton.danger-primary {
  width: 124px;
}

.button.size-2-small.state-2-skeleton.danger-ghost {
  width: 100px;
}

.button.primary.state-2-skeleton.text-icon.size-2-extra-large {
  width: 124px;
}

.button.primary.state-2-skeleton.text-icon.size-2-medium {
  width: 124px;
}

.button.secondary.state-2-skeleton.text-icon.size-2-expressive {
  width: 129px;
}

.button.tertiary.state-2-skeleton.text-icon.size-2-expressive {
  width: 129px;
}

.button.state-2-skeleton.text-icon.danger-tertiary.size-2-expressive {
  width: 129px;
}

.button.primary.state-2-skeleton.text-icon.size-2-large {
  width: 124px;
}

.button.primary.state-2-skeleton.size-2-large.icon-only {
  width: 48px;
}

.button.state-2-skeleton.ghost.size-2-medium.icon-only {
  width: 40px;
}

.button.size-2-small.state-2-skeleton.ghost.text-icon {
  width: 100px;
}

.button.secondary.state-2-skeleton.text-icon.size-2-medium {
  width: 124px;
}

.button.state-2-skeleton.danger-ghost.size-2-extra-large.icon-only {
  width: 64px;
}

.button.state-2-skeleton.ghost.text-icon.size-2-medium {
  width: 100px;
}

.button.state-2-skeleton.text-icon.danger-primary.size-2-expressive {
  width: 129px;
}

.button.state-2-skeleton.tertiary.size-2-large.icon-only {
  width: 48px;
}

.button.tertiary.state-2-skeleton.text-icon.size-2-extra-large {
  width: 124px;
}

.button.tertiary.state-2-skeleton.text-icon.size-2-large {
  width: 124px;
}

.button.state-2-skeleton.ghost.size-2-extra-large.icon-only {
  width: 64px;
}

.button.state-2-skeleton.danger-ghost.text-icon.size-2-expressive {
  width: 109px;
}

.button.primary.state-2-skeleton.text-icon.size-2-expressive {
  width: 129px;
}

.button.state-2-skeleton.ghost.text-icon.size-2-expressive {
  width: 109px;
}

.button.tertiary.state-2-skeleton.text-icon.size-2-medium {
  width: 124px;
}

.button.state-2-skeleton.ghost.text-icon.size-2-large {
  width: 100px;
}

.button.state-2-skeleton.tertiary.size-2-extra-large.icon-only {
  width: 64px;
}

.button.primary.state-2-skeleton.size-2-small.text-icon {
  width: 124px;
}

.button.primary.state-2-skeleton.size-2-medium.icon-only {
  width: 40px;
}

.button.secondary.state-2-skeleton.size-2-extra-large.icon-only {
  width: 64px;
}

.button.size-2-small.state-2-skeleton.ghost.icon-only {
  width: 32px;
}

.button.primary.state-2-skeleton.size-2-small.icon-only {
  width: 32px;
}

.button.state-2-skeleton.ghost.text-icon.size-2-extra-large {
  width: 100px;
}

.button.secondary.state-2-skeleton.text-icon.size-2-large {
  width: 124px;
}

.button.secondary.state-2-skeleton.size-2-small.text-icon {
  width: 124px;
}

.button.state-2-skeleton.tertiary.size-2-medium.icon-only {
  width: 40px;
}

.button.state-2-skeleton.danger-ghost.text-icon.size-2-extra-large {
  width: 100px;
}

.button.secondary.state-2-skeleton.text-icon.size-2-extra-large {
  width: 124px;
}

.button.secondary.state-2-skeleton.size-2-medium.icon-only {
  width: 40px;
}

.button.state-2-skeleton.size-2-small.tertiary.icon-only {
  width: 32px;
}

.button.state-2-skeleton.size-2-small.tertiary.text-icon {
  width: 124px;
}

.button.primary.state-2-skeleton.size-2-extra-large.icon-only {
  width: 64px;
}

.button.secondary.state-2-skeleton.size-2-small.icon-only {
  width: 32px;
}

.button.secondary.state-2-skeleton.size-2-large.icon-only {
  width: 48px;
}

.button.state-2-skeleton.ghost.size-2-large.icon-only {
  width: 48px;
}

.button.size-2-two-x-large .button-content {
  align-items: flex-start;
}

.button.size-2-large .button-content {
  align-items: center;
}

.button.size-2-expressive .button-content {
  align-items: center;
}

.button.size-2-medium .button-content {
  align-items: center;
}

.button.danger-ghost .button-content {
  gap: 8px;
}

.button.size-2-small .button-content {
  align-items: center;
}

.button.tertiary.state-2-focus .button-content {
  border: 3px solid;
  border-color: var(--theme-focus-focus-inset);
}

.button.tertiary.size-2-two-x-large .button-content {
  padding: 15px 64px 47px 16px;
}

.button.secondary.size-2-two-x-large .button-content {
  padding: 15px 64px 47px 16px;
}

.button.secondary.state-2-focus .button-content {
  border: 3px solid;
  border-color: var(--theme-focus-focus-inset);
}

.button.danger-primary.size-2-expressive .button-content {
  padding: 13px 64px 13px 16px;
}

.button.size-2-small.danger-primary .button-content {
  padding: 7px 64px 7px 16px;
}

.button.danger-primary.state-2-focus .button-content {
  border: 3px solid;
  border-color: var(--theme-focus-focus-inset);
}

.button.size-2-extra-large.icon-only .button-content {
  align-items: center;
}

.button.size-2-large.danger-primary .button-content {
  padding: 15px 64px 15px 16px;
}

.button.ghost.size-2-two-x-large .button-content {
  padding: 15px 16px 47px;
}

.button.ghost.text-icon .button-content {
  gap: 8px;
}

.button.danger-ghost.size-2-medium .button-content {
  padding: 11px 16px;
}

.button.size-2-medium.danger-primary .button-content {
  padding: 11px 64px 11px 16px;
}

.button.danger-tertiary.size-2-expressive .button-content {
  padding: 13px 64px 13px 16px;
}

.button.danger-primary.size-2-extra-large .button-content {
  padding: 15px 64px 31px 16px;
}

.button.size-2-small.danger-tertiary .button-content {
  padding: 7px 64px 7px 16px;
}

.button.primary.state-2-focus .button-content {
  border: 3px solid;
  border-color: var(--theme-focus-focus-inset);
}

.button.text-icon.size-2-extra-large .button-content {
  align-items: flex-start;
}

.button.size-2-small.danger-ghost .button-content {
  padding: 7px 16px;
}

.button.size-2-large.danger-tertiary .button-content {
  padding: 15px 64px 15px 16px;
}

.button.primary.size-2-two-x-large .button-content {
  padding: 15px 64px 47px 16px;
}

.button.danger-ghost.size-2-large .button-content {
  padding: 15px 16px;
}

.button.size-2-medium.danger-tertiary .button-content {
  padding: 11px 64px 11px 16px;
}

.button.danger-tertiary.size-2-extra-large .button-content {
  padding: 15px 64px 31px 16px;
}

.button.danger-ghost.state-2-focus .button-content {
  border: 3px solid;
  border-color: var(--theme-focus-focus-inset);
}

.button.danger-tertiary.state-2-focus .button-content {
  border: 3px solid;
  border-color: var(--theme-focus-focus-inset);
}

.button.tertiary.text-icon.size-2-large .button-content {
  padding: 15px 64px 15px 16px;
}

.button.size-2-small.tertiary.icon-only .button-content {
  padding: 8px;
}

.button.size-2-extra-large.ghost.icon-only .button-content {
  padding: 24px;
}

.button.size-2-extra-large.danger-ghost.icon-only .button-content {
  padding: 24px;
}

.button.tertiary.size-2-medium.icon-only .button-content {
  padding: 12px;
}

.button.size-2-small.tertiary.text-icon .button-content {
  padding: 7px 64px 7px 16px;
}

.button.danger-ghost.size-2-expressive.icon-only .button-content {
  padding: 14px;
}

.button.primary.size-2-small.text-icon .button-content {
  padding: 7px 64px 7px 16px;
}

.button.secondary.text-icon.size-2-large .button-content {
  padding: 15px 64px 15px 16px;
}

.button.primary.size-2-medium.icon-only .button-content {
  padding: 12px;
}

.button.secondary.size-2-extra-large.icon-only .button-content {
  padding: 24px;
}

.button.ghost.size-2-large.icon-only .button-content {
  padding: 16px;
}

.button.secondary.size-2-large.icon-only .button-content {
  padding: 16px;
}

.button.size-2-small.ghost.icon-only .button-content {
  padding: 8px;
}

.button.secondary.text-icon.size-2-expressive .button-content {
  padding: 13px 64px 13px 16px;
}

.button.primary.size-2-small.icon-only .button-content {
  padding: 8px;
}

.button.ghost.text-icon.size-2-extra-large .button-content {
  padding: 15px 16px 31px;
}

.button.secondary.size-2-expressive.icon-only .button-content {
  padding: 14px;
}

.button.primary.text-icon.size-2-large .button-content {
  padding: 15px 64px 15px 16px;
}

.button.secondary.text-icon.size-2-extra-large .button-content {
  padding: 15px 64px 31px 16px;
}

.button.primary.size-2-large.icon-only .button-content {
  padding: 16px;
}

.button.primary.text-icon.size-2-expressive .button-content {
  padding: 13px 64px 13px 16px;
}

.button.secondary.size-2-small.text-icon .button-content {
  padding: 7px 64px 7px 16px;
}

.button.ghost.text-icon.size-2-expressive .button-content {
  padding: 13px 16px;
}

.button.secondary.size-2-small.icon-only .button-content {
  padding: 8px;
}

.button.secondary.size-2-medium.icon-only .button-content {
  padding: 12px;
}

.button.primary.size-2-expressive.icon-only .button-content {
  padding: 14px;
}

.button.primary.size-2-extra-large.icon-only .button-content {
  padding: 24px;
}

.button.primary.text-icon.size-2-medium .button-content {
  padding: 11px 64px 11px 16px;
}

.button.primary.text-icon.size-2-extra-large .button-content {
  padding: 15px 64px 31px 16px;
}

.button.danger-ghost.text-icon.size-2-expressive .button-content {
  padding: 13px 16px;
}

.button.tertiary.text-icon.size-2-medium .button-content {
  padding: 11px 64px 11px 16px;
}

.button.tertiary.text-icon.size-2-extra-large .button-content {
  padding: 15px 64px 31px 16px;
}

.button.danger-ghost.text-icon.size-2-extra-large .button-content {
  padding: 15px 16px 31px;
}

.button.tertiary.size-2-expressive.icon-only .button-content {
  padding: 14px;
}

.button.ghost.size-2-medium.icon-only .button-content {
  padding: 12px;
}

.button.size-2-small.ghost.text-icon .button-content {
  padding: 7px 16px;
}

.button.ghost.text-icon.size-2-large .button-content {
  padding: 15px 16px;
}

.button.tertiary.size-2-large.icon-only .button-content {
  padding: 16px;
}

.button.tertiary.text-icon.size-2-expressive .button-content {
  padding: 13px 64px 13px 16px;
}

.button.ghost.text-icon.size-2-medium .button-content {
  padding: 11px 16px;
}

.button.secondary.text-icon.size-2-medium .button-content {
  padding: 11px 64px 11px 16px;
}

.button.size-2-extra-large.tertiary.icon-only .button-content {
  padding: 24px;
}

.button.ghost.size-2-expressive.icon-only .button-content {
  padding: 14px;
}

.button.danger-primary .text-wrapper-2 {
  z-index: 1;
}

.button.size-2-two-x-large .text-wrapper-2 {
  font-family: var(--body-styles-body-compact-01-font-family);
  font-size: var(--body-styles-body-compact-01-font-size);
  font-style: var(--body-styles-body-compact-01-font-style);
  font-weight: var(--body-styles-body-compact-01-font-weight);
  letter-spacing: var(--body-styles-body-compact-01-letter-spacing);
  line-height: var(--body-styles-body-compact-01-line-height);
}

.button.size-2-large .text-wrapper-2 {
  font-family: var(--body-styles-body-compact-01-font-family);
  font-size: var(--body-styles-body-compact-01-font-size);
  font-style: var(--body-styles-body-compact-01-font-style);
  font-weight: var(--body-styles-body-compact-01-font-weight);
  letter-spacing: var(--body-styles-body-compact-01-letter-spacing);
  line-height: var(--body-styles-body-compact-01-line-height);
}

.button.state-2-disabled .text-wrapper-2 {
  margin-top: -1px;
}

.button.state-2-hover .text-wrapper-2 {
  margin-top: -1px;
}

.button.state-2-skeleton .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
  margin-top: -1px;
}

.button.state-2-enabled .text-wrapper-2 {
  margin-top: -1px;
}

.button.state-2-active .text-wrapper-2 {
  margin-top: -1px;
}

.button.state-2-focus .text-wrapper-2 {
  margin-top: -3px;
}

.button.size-2-expressive .text-wrapper-2 {
  font-family: var(--body-styles-body-compact-02-font-family);
  font-size: var(--body-styles-body-compact-02-font-size);
  font-style: var(--body-styles-body-compact-02-font-style);
  font-weight: var(--body-styles-body-compact-02-font-weight);
  letter-spacing: var(--body-styles-body-compact-02-letter-spacing);
  line-height: var(--body-styles-body-compact-02-line-height);
}

.button.size-2-medium .text-wrapper-2 {
  font-family: var(--body-styles-body-compact-01-font-family);
  font-size: var(--body-styles-body-compact-01-font-size);
  font-style: var(--body-styles-body-compact-01-font-style);
  font-weight: var(--body-styles-body-compact-01-font-weight);
  letter-spacing: var(--body-styles-body-compact-01-letter-spacing);
  line-height: var(--body-styles-body-compact-01-line-height);
}

.button.primary .text-wrapper-2 {
  z-index: 1;
}

.button.secondary .text-wrapper-2 {
  z-index: 1;
}

.button.size-2-extra-large .text-wrapper-2 {
  font-family: var(--body-styles-body-compact-01-font-family);
  font-size: var(--body-styles-body-compact-01-font-size);
  font-style: var(--body-styles-body-compact-01-font-style);
  font-weight: var(--body-styles-body-compact-01-font-weight);
  letter-spacing: var(--body-styles-body-compact-01-letter-spacing);
  line-height: var(--body-styles-body-compact-01-line-height);
}

.button.danger-ghost .text-wrapper-2 {
  z-index: 2;
}

.button.tertiary .text-wrapper-2 {
  z-index: 1;
}

.button.size-2-small .text-wrapper-2 {
  font-family: var(--body-styles-body-compact-01-font-family);
  font-size: var(--body-styles-body-compact-01-font-size);
  font-style: var(--body-styles-body-compact-01-font-style);
  font-weight: var(--body-styles-body-compact-01-font-weight);
  letter-spacing: var(--body-styles-body-compact-01-letter-spacing);
  line-height: var(--body-styles-body-compact-01-line-height);
}

.button.ghost .text-wrapper-2 {
  z-index: 2;
}

.button.danger-tertiary .text-wrapper-2 {
  z-index: 1;
}

.button.tertiary.state-2-focus .text-wrapper-2 {
  color: var(--theme-text-text-inverse);
}

.button.danger-ghost.state-2-disabled .text-wrapper-2 {
  color: var(--theme-button-button-disabled);
}

.button.state-2-active.danger-primary .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.state-2-hover.danger-tertiary .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.state-2-disabled.danger-primary .text-wrapper-2 {
  color: var(--theme-text-text-on-color-disabled);
}

.button.secondary.state-2-focus .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.primary.state-2-disabled .text-wrapper-2 {
  color: var(--theme-text-text-on-color-disabled);
}

.button.primary.state-2-enabled .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.state-2-enabled.danger-primary .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.secondary.state-2-hover .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.state-2-hover.danger-ghost .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.ghost.state-2-disabled .text-wrapper-2 {
  color: var(--theme-button-button-disabled);
}

.button.ghost.state-2-active .text-wrapper-2 {
  color: var(--theme-link-link-primary-hover);
}

.button.danger-primary.state-2-focus .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.state-2-enabled.tertiary .text-wrapper-2 {
  color: var(--theme-button-button-tertiary);
}

.button.primary.state-2-hover .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.state-2-enabled.danger-tertiary .text-wrapper-2 {
  color: var(--theme-button-button-danger-secondary);
}

.button.secondary.state-2-active .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.primary.state-2-focus .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.secondary.state-2-disabled .text-wrapper-2 {
  color: var(--theme-text-text-on-color-disabled);
}

.button.danger-ghost.state-2-active .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.tertiary.state-2-disabled .text-wrapper-2 {
  color: var(--theme-button-button-disabled);
}

.button.state-2-hover.ghost .text-wrapper-2 {
  color: var(--theme-link-link-primary-hover);
}

.button.ghost.state-2-focus .text-wrapper-2 {
  color: var(--theme-link-link-primary);
}

.button.state-2-enabled.ghost .text-wrapper-2 {
  color: var(--theme-link-link-primary);
}

.button.state-2-active.tertiary .text-wrapper-2 {
  color: var(--theme-text-text-inverse);
}

.button.primary.state-2-active .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.state-2-enabled.danger-ghost .text-wrapper-2 {
  color: var(--theme-button-button-danger-secondary);
}

.button.secondary.state-2-enabled .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.state-2-active.danger-tertiary .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.state-2-hover.danger-primary .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.state-2-disabled.danger-tertiary .text-wrapper-2 {
  color: var(--theme-button-button-disabled);
}

.button.danger-ghost.state-2-focus .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.danger-tertiary.state-2-focus .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.state-2-hover.tertiary .text-wrapper-2 {
  color: var(--theme-text-text-inverse);
}

.button.danger-primary .icon-4 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  z-index: 0;
}

.button.size-2-two-x-large .icon-4 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  top: 16px;
  z-index: 0;
}

.button.icon-only .icon-4 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
}

.button.primary .icon-4 {
  align-items: flex-start;
  display: inline-flex;
  position: absolute;
  z-index: 0;
}

.button.secondary .icon-4 {
  align-items: flex-start;
  display: inline-flex;
  position: absolute;
  z-index: 0;
}

.button.danger-ghost .icon-4 {
  flex: 0 0 auto;
}

.button.tertiary .icon-4 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  z-index: 0;
}

.button.danger-tertiary .icon-4 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  z-index: 0;
}

.button.tertiary.size-2-two-x-large .icon-4 {
  left: 92px;
}

.button.tertiary.size-2-extra-large .icon-4 {
  left: 92px;
  top: 16px;
}

.button.secondary.size-2-extra-large .icon-4 {
  flex-direction: column;
  left: 92px;
  top: 16px;
}

.button.secondary.size-2-two-x-large .icon-4 {
  left: 92px;
}

.button.primary.size-2-large .icon-4 {
  flex-direction: column;
  left: 92px;
  top: 16px;
}

.button.secondary.state-2-focus .icon-4 {
  flex-direction: column;
}

.button.primary.state-2-disabled .icon-4 {
  flex-direction: column;
}

.button.danger-ghost.size-2-expressive .icon-4 {
  position: relative;
  z-index: 1;
}

.button.danger-primary.size-2-expressive .icon-4 {
  left: 93px;
  top: 14px;
}

.button.size-2-small.danger-primary .icon-4 {
  left: 92px;
  top: 8px;
}

.button.secondary.state-2-hover .icon-4 {
  flex-direction: column;
}

.button.ghost.size-2-expressive .icon-4 {
  flex: 0 0 auto;
  position: relative;
}

.button.primary.size-2-medium .icon-4 {
  flex-direction: column;
  left: 92px;
  top: 12px;
}

.button.secondary.size-2-expressive .icon-4 {
  left: 93px;
  top: 14px;
}

.button.size-2-large.danger-primary .icon-4 {
  left: 92px;
  top: 16px;
}

.button.ghost.size-2-two-x-large .icon-4 {
  left: 68px;
}

.button.ghost.size-2-extra-large .icon-4 {
  flex: 0 0 auto;
  position: relative;
}

.button.size-2-small.tertiary .icon-4 {
  left: 92px;
  top: 8px;
}

.button.tertiary.size-2-medium .icon-4 {
  left: 92px;
  top: 12px;
}

.button.danger-ghost.size-2-medium .icon-4 {
  position: relative;
  z-index: 1;
}

.button.primary.state-2-hover .icon-4 {
  flex-direction: column;
}

.button.size-2-medium.danger-primary .icon-4 {
  left: 92px;
  top: 12px;
}

.button.danger-tertiary.size-2-expressive .icon-4 {
  left: 93px;
  top: 14px;
}

.button.primary.size-2-extra-large .icon-4 {
  flex-direction: column;
  left: 92px;
  top: 16px;
}

.button.danger-primary.size-2-extra-large .icon-4 {
  left: 92px;
  top: 16px;
}

.button.size-2-small.danger-tertiary .icon-4 {
  left: 92px;
  top: 8px;
}

.button.secondary.state-2-active .icon-4 {
  flex-direction: column;
}

.button.danger-ghost.size-2-extra-large .icon-4 {
  position: relative;
  z-index: 1;
}

.button.primary.state-2-focus .icon-4 {
  flex-direction: column;
}

.button.secondary.state-2-disabled .icon-4 {
  flex-direction: column;
}

.button.tertiary.size-2-large .icon-4 {
  left: 92px;
  top: 16px;
}

.button.primary.size-2-small .icon-4 {
  flex-direction: column;
  left: 92px;
  top: 8px;
}

.button.secondary.size-2-medium .icon-4 {
  flex-direction: column;
  left: 92px;
  top: 12px;
}

.button.size-2-small.danger-ghost .icon-4 {
  position: relative;
  z-index: 1;
}

.button.size-2-large.danger-tertiary .icon-4 {
  left: 92px;
  top: 16px;
}

.button.size-2-small.ghost .icon-4 {
  flex: 0 0 auto;
  position: relative;
}

.button.primary.size-2-two-x-large .icon-4 {
  left: 92px;
}

.button.secondary.size-2-large .icon-4 {
  flex-direction: column;
  left: 92px;
  top: 16px;
}

.button.primary.size-2-expressive .icon-4 {
  left: 93px;
  top: 14px;
}

.button.danger-ghost.size-2-large .icon-4 {
  position: relative;
  z-index: 1;
}

.button.primary.state-2-active .icon-4 {
  flex-direction: column;
}

.button.size-2-medium.danger-tertiary .icon-4 {
  left: 92px;
  top: 12px;
}

.button.danger-tertiary.size-2-extra-large .icon-4 {
  left: 92px;
  top: 16px;
}

.button.secondary.size-2-small .icon-4 {
  flex-direction: column;
  left: 92px;
  top: 8px;
}

.button.ghost.size-2-medium .icon-4 {
  flex: 0 0 auto;
  position: relative;
}

.button.tertiary.size-2-expressive .icon-4 {
  left: 93px;
  top: 14px;
}

.button.ghost.size-2-large .icon-4 {
  flex: 0 0 auto;
  position: relative;
}

.button.ghost.text-icon.size-2-extra-large .icon-4 {
  z-index: 1;
}

.button.ghost.text-icon.size-2-expressive .icon-4 {
  z-index: 1;
}

.button.size-2-small.ghost.text-icon .icon-4 {
  z-index: 1;
}

.button.ghost.text-icon.size-2-large .icon-4 {
  z-index: 1;
}

.button.ghost.text-icon.size-2-medium .icon-4 {
  z-index: 1;
}

.button.size-2-two-x-large .add-wrapper {
  left: 68px;
  top: 16px;
}

.button.size-2-large .add-wrapper {
  left: 68px;
  top: 16px;
}

.button.size-2-expressive .add-wrapper {
  left: 73px;
  top: 14px;
}

.button.size-2-medium .add-wrapper {
  left: 68px;
  top: 12px;
}

.button.size-2-extra-large .add-wrapper {
  left: 68px;
}

.button.size-2-small .add-wrapper {
  left: 68px;
  top: 8px;
}

.button.tertiary.size-2-extra-large .add-wrapper {
  top: 16px;
}

.button.secondary.size-2-extra-large .add-wrapper {
  top: 16px;
}

.button.state-2-active.size-2-extra-large .add-wrapper {
  top: 16px;
}

.button.ghost.size-2-extra-large .add-wrapper {
  top: 16px;
}

.button.state-2-disabled.size-2-extra-large .add-wrapper {
  top: 16px;
}

.button.primary.size-2-extra-large .add-wrapper {
  top: 16px;
}

.button.danger-primary.size-2-extra-large .add-wrapper {
  top: 16px;
}

.button.state-2-hover.size-2-extra-large .add-wrapper {
  top: 16px;
}

.button.state-2-skeleton.size-2-extra-large .add-wrapper {
  top: 16px;
}

.button.danger-tertiary.size-2-extra-large .add-wrapper {
  top: 16px;
}

.button.state-2-enabled.size-2-extra-large .add-wrapper {
  top: 16px;
}

.button.size-2-extra-large.danger-ghost.state-2-focus .add-wrapper {
  top: 15px;
}
