.container[data-v-6e792107] {
  width: 100%;
  height: 100%;
}
.container .box[data-v-6e792107] {
  flex: 1;
  padding: 24px 32px;
}
.container .box .title[data-v-6e792107] {
  font-size: 36px;
  font-weight: 300;
}
.container .box .toolbar[data-v-6e792107] {
  margin-top: 80px;
}
.container .box .table[data-v-6e792107] {
  width: 100%;
}
.empty-state[data-v-6e792107] {
  padding: 24px 32px;
  margin: 0 auto;
  text-align: center;
}
.empty-state .title[data-v-6e792107] {
  font-size: 36px;
  text-align: left;
}
.empty-state .content[data-v-6e792107] {
  margin-top: 150px;
}
.empty-state .content .subtitle[data-v-6e792107] {
  font-size: 28px;
  margin-top: 30px;
}
.empty-state .content .description[data-v-6e792107] {
  margin-top: 10px;
  font-size: 16px;
}
.empty-state .content .no-experiments[data-v-6e792107] {
  width: 217px;
  height: 217px;
}
