* {
    transition-duration: 0.3s;
    font-family: "IBM Plex Sans";
    font-style: normal;
}

#header,
#statements,
#footer {
    text-align: center;
}

hr {
    margin: 2em auto;
    width: 50%;
}

#header {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

h1 {
    padding-top: 1em;
    padding-bottom: 1em;
}

section {
    text-align: center;
}

section > h2 {
    margin-left: 10vw;
    margin-right: 10vw;
}

#questions {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(4, 20vw);
    margin: 2vw;
    padding: 1vw;

    gap: 4vh 4vw;

    /* background-color: rgb(127, 255, 212); */
}

.question {
    border: 5px solid transparent;
    border-radius: 5px;
}

.question:hover {
    border: 1px solid transparent;
    box-shadow: 0px 0px 5px rgb(78, 101, 114);
}

.question > .question-fig {
    min-height: 20vh;
}

.question > .question-txt > img {
    width: 2em;
}

#dialogue > img {
    width: 40%;
}

#footer {
    margin-top: 6vh;
}

#footer > div > img {
    margin-left: 2vw;
    margin-right: 2vw;
    width: 5vw;
}

@media screen and (max-width: 1200px) {
    hr {
        width: 80%;
    }
    #questions {
        margin: 1vw;
        grid-template-columns: repeat(2, 40vw);
        gap: 3vh 3vw;
    }

    #dialogue > img {
        width: 60%;
    }

    #footer {
        margin-top: 6vh;
    }

    #footer > div > img {
        width: 10vw;
    }
}

@media screen and (max-width: 900px) {
    section > h2 {
        margin-left: 2vw;
        margin-right: 2vw;
    }
    #questions {
        margin: 1vw;
        grid-template-columns: repeat(1, 70vw);
        gap: 3vh 3vw;
    }
    #dialogue > img {
        width: 80%;
    }
    .question > .question-fig {
        min-height: 20vh;
    }
    #footer > div > img {
        width: 15vw;
    }
}

@media screen and (max-width: 800px) {
    #questions {
        margin: 1vw;
        grid-template-columns: repeat(1, 70vw);
        gap: 3vh 3vw;
    }
    .question > .question-fig {
        min-height: 15vh;
    }

    #footer > div > img {
        width: 20vw;
    }
}