.button {
  all: unset;
  box-sizing: border-box;
}

.button .button-content {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.button .text-wrapper-2 {
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.button .icon {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.button .icon-spacer {
  flex: 0 0 auto;
  position: relative;
  z-index: 1;
}

.button .add-10 {
  background-blend-mode: multiply !important;
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.button .add-56 {
  background-blend-mode: multiply !important;
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}

.button .add-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  z-index: 0;
}

.button .button-wrapper {
  all: unset;
  align-items: center;
  align-self: stretch;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  padding: 11px 64px 11px 16px;
  position: relative;
  width: 100%;
}

.button .text-wrapper-3 {
  color: var(--theme-text-text-on-color);
  font-family: var(--body-styles-body-compact-01-font-family);
  font-size: var(--body-styles-body-compact-01-font-size);
  font-style: var(--body-styles-body-compact-01-font-style);
  font-weight: var(--body-styles-body-compact-01-font-weight);
  letter-spacing: var(--body-styles-body-compact-01-letter-spacing);
  line-height: var(--body-styles-body-compact-01-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.button .icon-2 {
  align-items: flex-start;
  background-blend-mode: multiply;
  background-color: var(--transparenttransparent);
  display: inline-flex;
  flex-direction: column;
  left: 124px;
  position: absolute;
  top: 12px;
}

.button.disabled {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.button.hover {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.button.skeleton {
  background-color: var(--theme-miscellaneous-skeleton-background);
}

.button.enabled {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.button.active {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.button.focus {
  align-items: flex-start;
  border: 2px solid;
  border-color: var(--theme-focus-focus);
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.button.tertiary.focus {
  background-color: var(--theme-button-button-tertiary);
}

.button.danger-ghost.disabled {
  background-blend-mode: multiply;
  background-color: var(--transparenttransparent);
}

.button.active.danger-primary {
  background-color: var(--theme-button-button-danger-active);
}

.button.hover.danger-tertiary {
  background-color: var(--theme-button-button-danger-hover);
}

.button.disabled.danger-primary {
  background-color: var(--theme-button-button-disabled);
}

.button.secondary.focus {
  background-color: var(--theme-button-button-secondary);
}

.button.primary.disabled {
  background-color: var(--theme-button-button-disabled);
}

.button.primary.enabled {
  background-color: var(--theme-button-button-primary);
}

.button.enabled.danger-primary {
  background-color: var(--theme-button-button-danger-primary);
}

.button.secondary.hover {
  background-color: var(--theme-button-button-secondary-hover);
}

.button.hover.danger-ghost {
  background-color: var(--theme-button-button-danger-hover);
}

.button.ghost.disabled {
  background-blend-mode: multiply;
  background-color: var(--transparenttransparent);
}

.button.ghost.active {
  background-color: var(--theme-background-background-active);
}

.button.danger-primary.focus {
  background-color: var(--theme-button-button-danger-primary);
}

.button.skeleton.large {
  height: 48px;
}

.button.enabled.tertiary {
  background-blend-mode: multiply;
  background-color: var(--transparenttransparent);
  border: 1px solid;
  border-color: var(--theme-button-button-tertiary);
}

.button.primary.hover {
  background-color: var(--theme-button-button-primary-hover);
}

.button.skeleton.two-x-large {
  height: 80px;
}

.button.enabled.danger-tertiary {
  background-blend-mode: multiply;
  background-color: var(--transparenttransparent);
  border: 1px solid;
  border-color: var(--theme-button-button-danger-secondary);
}

.button.secondary.active {
  background-color: var(--theme-button-button-secondary-active);
}

.button.primary.focus {
  background-color: var(--theme-button-button-primary);
}

.button.secondary.disabled {
  background-color: var(--theme-button-button-disabled);
}

.button.skeleton.expressive {
  height: 48px;
}

.button.danger-ghost.active {
  background-color: var(--theme-button-button-danger-active);
}

.button.tertiary.disabled {
  background-blend-mode: multiply;
  background-color: var(--transparenttransparent);
  border: 1px solid;
  border-color: var(--theme-button-button-disabled);
}

.button.hover.ghost {
  background-color: var(--theme-background-background-hover);
}

.button.ghost.focus {
  background-blend-mode: multiply;
  background-color: var(--transparenttransparent);
}

.button.enabled.ghost {
  background-blend-mode: multiply;
  background-color: var(--transparenttransparent);
}

.button.skeleton.extra-large {
  height: 64px;
}

.button.active.tertiary {
  background-color: var(--theme-button-button-tertiary-active);
}

.button.primary.active {
  background-color: var(--theme-button-button-primary-active);
}

.button.skeleton.small {
  height: 32px;
}

.button.enabled.danger-ghost {
  background-blend-mode: multiply;
  background-color: var(--transparenttransparent);
}

.button.secondary.enabled {
  background-color: var(--theme-button-button-secondary);
}

.button.active.danger-tertiary {
  background-color: var(--theme-button-button-danger-active);
}

.button.hover.danger-primary {
  background-color: var(--theme-button-button-danger-hover);
}

.button.disabled.danger-tertiary {
  background-blend-mode: multiply;
  background-color: var(--transparenttransparent);
  border: 1px solid;
  border-color: var(--theme-button-button-disabled);
}

.button.danger-ghost.focus {
  background-color: var(--theme-button-button-danger-primary);
}

.button.danger-tertiary.focus {
  background-color: var(--theme-button-button-danger-secondary);
}

.button.skeleton.medium {
  height: 40px;
}

.button.hover.tertiary {
  background-color: var(--theme-button-button-tertiary-hover);
}

.button.skeleton.small.danger-primary {
  width: 124px;
}

.button.disabled.danger-primary.expressive {
  border: 1px solid;
  border-color: var(--theme-button-button-disabled);
}

.button.skeleton.small.danger-tertiary {
  width: 124px;
}

.button.primary.skeleton.two-x-large {
  width: 124px;
}

.button.skeleton.expressive.icon-only {
  width: 48px;
}

.button.skeleton.ghost.two-x-large {
  width: 100px;
}

.button.large.skeleton.danger-tertiary {
  width: 124px;
}

.button.skeleton.danger-ghost.medium {
  width: 100px;
}

.button.hover.medium.danger-primary {
  overflow: hidden;
}

.button.medium.skeleton.danger-tertiary {
  width: 124px;
}

.button.secondary.disabled.expressive {
  border: 1px solid;
  border-color: var(--theme-button-button-disabled);
}

.button.primary.disabled.expressive {
  border: 1px solid;
  border-color: var(--theme-button-button-disabled);
}

.button.skeleton.tertiary.two-x-large {
  width: 124px;
}

.button.skeleton.danger-ghost.large {
  width: 100px;
}

.button.skeleton.danger-tertiary.extra-large {
  width: 124px;
}

.button.large.skeleton.danger-primary {
  width: 124px;
}

.button.secondary.skeleton.two-x-large {
  width: 124px;
}

.button.skeleton.danger-primary.extra-large {
  width: 124px;
}

.button.medium.skeleton.danger-primary {
  width: 124px;
}

.button.small.skeleton.danger-ghost {
  width: 100px;
}

.button.primary.skeleton.text-icon.extra-large {
  width: 124px;
}

.button.primary.skeleton.text-icon.medium {
  width: 124px;
}

.button.secondary.skeleton.text-icon.expressive {
  width: 129px;
}

.button.tertiary.skeleton.text-icon.expressive {
  width: 129px;
}

.button.skeleton.text-icon.danger-tertiary.expressive {
  width: 129px;
}

.button.primary.skeleton.text-icon.large {
  width: 124px;
}

.button.primary.skeleton.large.icon-only {
  width: 48px;
}

.button.skeleton.ghost.medium.icon-only {
  width: 40px;
}

.button.small.skeleton.ghost.text-icon {
  width: 100px;
}

.button.secondary.skeleton.text-icon.medium {
  width: 124px;
}

.button.skeleton.danger-ghost.extra-large.icon-only {
  width: 64px;
}

.button.skeleton.ghost.text-icon.medium {
  width: 100px;
}

.button.skeleton.text-icon.danger-primary.expressive {
  width: 129px;
}

.button.skeleton.tertiary.large.icon-only {
  width: 48px;
}

.button.tertiary.skeleton.text-icon.extra-large {
  width: 124px;
}

.button.tertiary.skeleton.text-icon.large {
  width: 124px;
}

.button.skeleton.ghost.extra-large.icon-only {
  width: 64px;
}

.button.skeleton.danger-ghost.text-icon.expressive {
  width: 109px;
}

.button.primary.skeleton.text-icon.expressive {
  width: 129px;
}

.button.skeleton.ghost.text-icon.expressive {
  width: 109px;
}

.button.tertiary.skeleton.text-icon.medium {
  width: 124px;
}

.button.skeleton.ghost.text-icon.large {
  width: 100px;
}

.button.skeleton.tertiary.extra-large.icon-only {
  width: 64px;
}

.button.primary.skeleton.small.text-icon {
  width: 124px;
}

.button.primary.skeleton.medium.icon-only {
  width: 40px;
}

.button.secondary.skeleton.extra-large.icon-only {
  width: 64px;
}

.button.small.skeleton.ghost.icon-only {
  width: 32px;
}

.button.primary.skeleton.small.icon-only {
  width: 32px;
}

.button.skeleton.ghost.text-icon.extra-large {
  width: 100px;
}

.button.secondary.skeleton.text-icon.large {
  width: 124px;
}

.button.secondary.skeleton.small.text-icon {
  width: 124px;
}

.button.skeleton.tertiary.medium.icon-only {
  width: 40px;
}

.button.skeleton.danger-ghost.text-icon.extra-large {
  width: 100px;
}

.button.secondary.skeleton.text-icon.extra-large {
  width: 124px;
}

.button.secondary.skeleton.medium.icon-only {
  width: 40px;
}

.button.skeleton.small.tertiary.icon-only {
  width: 32px;
}

.button.skeleton.small.tertiary.text-icon {
  width: 124px;
}

.button.primary.skeleton.extra-large.icon-only {
  width: 64px;
}

.button.secondary.skeleton.small.icon-only {
  width: 32px;
}

.button.secondary.skeleton.large.icon-only {
  width: 48px;
}

.button.skeleton.ghost.large.icon-only {
  width: 48px;
}

.button.two-x-large .button-content {
  align-items: flex-start;
}

.button.large .button-content {
  align-items: center;
}

.button.expressive .button-content {
  align-items: center;
}

.button.medium .button-content {
  align-items: center;
}

.button.danger-ghost .button-content {
  gap: 8px;
}

.button.small .button-content {
  align-items: center;
}

.button.tertiary.focus .button-content {
  border: 3px solid;
  border-color: var(--theme-focus-focus-inset);
}

.button.tertiary.two-x-large .button-content {
  padding: 15px 64px 47px 16px;
}

.button.secondary.two-x-large .button-content {
  padding: 15px 64px 47px 16px;
}

.button.secondary.focus .button-content {
  border: 3px solid;
  border-color: var(--theme-focus-focus-inset);
}

.button.danger-primary.expressive .button-content {
  padding: 13px 64px 13px 16px;
}

.button.small.danger-primary .button-content {
  padding: 7px 64px 7px 16px;
}

.button.danger-primary.focus .button-content {
  border: 3px solid;
  border-color: var(--theme-focus-focus-inset);
}

.button.extra-large.icon-only .button-content {
  align-items: center;
}

.button.large.danger-primary .button-content {
  padding: 15px 64px 15px 16px;
}

.button.ghost.two-x-large .button-content {
  padding: 15px 16px 47px;
}

.button.ghost.text-icon .button-content {
  gap: 8px;
}

.button.danger-ghost.medium .button-content {
  padding: 11px 16px;
}

.button.medium.danger-primary .button-content {
  padding: 11px 64px 11px 16px;
}

.button.danger-tertiary.expressive .button-content {
  padding: 13px 64px 13px 16px;
}

.button.danger-primary.extra-large .button-content {
  padding: 15px 64px 31px 16px;
}

.button.small.danger-tertiary .button-content {
  padding: 7px 64px 7px 16px;
}

.button.primary.focus .button-content {
  border: 3px solid;
  border-color: var(--theme-focus-focus-inset);
}

.button.text-icon.extra-large .button-content {
  align-items: flex-start;
}

.button.small.danger-ghost .button-content {
  padding: 7px 16px;
}

.button.large.danger-tertiary .button-content {
  padding: 15px 64px 15px 16px;
}

.button.primary.two-x-large .button-content {
  padding: 15px 64px 47px 16px;
}

.button.danger-ghost.large .button-content {
  padding: 15px 16px;
}

.button.medium.danger-tertiary .button-content {
  padding: 11px 64px 11px 16px;
}

.button.danger-tertiary.extra-large .button-content {
  padding: 15px 64px 31px 16px;
}

.button.danger-ghost.focus .button-content {
  border: 3px solid;
  border-color: var(--theme-focus-focus-inset);
}

.button.danger-tertiary.focus .button-content {
  border: 3px solid;
  border-color: var(--theme-focus-focus-inset);
}

.button.tertiary.text-icon.large .button-content {
  padding: 15px 64px 15px 16px;
}

.button.small.tertiary.icon-only .button-content {
  padding: 8px;
}

.button.extra-large.ghost.icon-only .button-content {
  padding: 24px;
}

.button.extra-large.danger-ghost.icon-only .button-content {
  padding: 24px;
}

.button.tertiary.medium.icon-only .button-content {
  padding: 12px;
}

.button.small.tertiary.text-icon .button-content {
  padding: 7px 64px 7px 16px;
}

.button.danger-ghost.expressive.icon-only .button-content {
  padding: 14px;
}

.button.primary.small.text-icon .button-content {
  padding: 7px 64px 7px 16px;
}

.button.secondary.text-icon.large .button-content {
  padding: 15px 64px 15px 16px;
}

.button.primary.medium.icon-only .button-content {
  padding: 12px;
}

.button.secondary.extra-large.icon-only .button-content {
  padding: 24px;
}

.button.ghost.large.icon-only .button-content {
  padding: 16px;
}

.button.secondary.large.icon-only .button-content {
  padding: 16px;
}

.button.small.ghost.icon-only .button-content {
  padding: 8px;
}

.button.secondary.text-icon.expressive .button-content {
  padding: 13px 64px 13px 16px;
}

.button.primary.small.icon-only .button-content {
  padding: 8px;
}

.button.ghost.text-icon.extra-large .button-content {
  padding: 15px 16px 31px;
}

.button.secondary.expressive.icon-only .button-content {
  padding: 14px;
}

.button.primary.text-icon.large .button-content {
  padding: 15px 64px 15px 16px;
}

.button.secondary.text-icon.extra-large .button-content {
  padding: 15px 64px 31px 16px;
}

.button.primary.large.icon-only .button-content {
  padding: 16px;
}

.button.primary.text-icon.expressive .button-content {
  padding: 13px 64px 13px 16px;
}

.button.secondary.small.text-icon .button-content {
  padding: 7px 64px 7px 16px;
}

.button.ghost.text-icon.expressive .button-content {
  padding: 13px 16px;
}

.button.secondary.small.icon-only .button-content {
  padding: 8px;
}

.button.secondary.medium.icon-only .button-content {
  padding: 12px;
}

.button.primary.expressive.icon-only .button-content {
  padding: 14px;
}

.button.primary.extra-large.icon-only .button-content {
  padding: 24px;
}

.button.primary.text-icon.medium .button-content {
  padding: 11px 64px 11px 16px;
}

.button.primary.text-icon.extra-large .button-content {
  padding: 15px 64px 31px 16px;
}

.button.danger-ghost.text-icon.expressive .button-content {
  padding: 13px 16px;
}

.button.tertiary.text-icon.medium .button-content {
  padding: 11px 64px 11px 16px;
}

.button.tertiary.text-icon.extra-large .button-content {
  padding: 15px 64px 31px 16px;
}

.button.danger-ghost.text-icon.extra-large .button-content {
  padding: 15px 16px 31px;
}

.button.tertiary.expressive.icon-only .button-content {
  padding: 14px;
}

.button.ghost.medium.icon-only .button-content {
  padding: 12px;
}

.button.small.ghost.text-icon .button-content {
  padding: 7px 16px;
}

.button.ghost.text-icon.large .button-content {
  padding: 15px 16px;
}

.button.tertiary.large.icon-only .button-content {
  padding: 16px;
}

.button.tertiary.text-icon.expressive .button-content {
  padding: 13px 64px 13px 16px;
}

.button.ghost.text-icon.medium .button-content {
  padding: 11px 16px;
}

.button.secondary.text-icon.medium .button-content {
  padding: 11px 64px 11px 16px;
}

.button.extra-large.tertiary.icon-only .button-content {
  padding: 24px;
}

.button.ghost.expressive.icon-only .button-content {
  padding: 14px;
}

.button.danger-primary .text-wrapper-2 {
  z-index: 1;
}

.button.two-x-large .text-wrapper-2 {
  font-family: var(--body-styles-body-compact-01-font-family);
  font-size: var(--body-styles-body-compact-01-font-size);
  font-style: var(--body-styles-body-compact-01-font-style);
  font-weight: var(--body-styles-body-compact-01-font-weight);
  letter-spacing: var(--body-styles-body-compact-01-letter-spacing);
  line-height: var(--body-styles-body-compact-01-line-height);
}

.button.large .text-wrapper-2 {
  font-family: var(--body-styles-body-compact-01-font-family);
  font-size: var(--body-styles-body-compact-01-font-size);
  font-style: var(--body-styles-body-compact-01-font-style);
  font-weight: var(--body-styles-body-compact-01-font-weight);
  letter-spacing: var(--body-styles-body-compact-01-letter-spacing);
  line-height: var(--body-styles-body-compact-01-line-height);
}

.button.disabled .text-wrapper-2 {
  margin-top: -1px;
}

.button.hover .text-wrapper-2 {
  margin-top: -1px;
}

.button.skeleton .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
  margin-top: -1px;
}

.button.enabled .text-wrapper-2 {
  margin-top: -1px;
}

.button.active .text-wrapper-2 {
  margin-top: -1px;
}

.button.focus .text-wrapper-2 {
  margin-top: -3px;
}

.button.expressive .text-wrapper-2 {
  font-family: var(--body-styles-body-compact-02-font-family);
  font-size: var(--body-styles-body-compact-02-font-size);
  font-style: var(--body-styles-body-compact-02-font-style);
  font-weight: var(--body-styles-body-compact-02-font-weight);
  letter-spacing: var(--body-styles-body-compact-02-letter-spacing);
  line-height: var(--body-styles-body-compact-02-line-height);
}

.button.medium .text-wrapper-2 {
  font-family: var(--body-styles-body-compact-01-font-family);
  font-size: var(--body-styles-body-compact-01-font-size);
  font-style: var(--body-styles-body-compact-01-font-style);
  font-weight: var(--body-styles-body-compact-01-font-weight);
  letter-spacing: var(--body-styles-body-compact-01-letter-spacing);
  line-height: var(--body-styles-body-compact-01-line-height);
}

.button.primary .text-wrapper-2 {
  z-index: 1;
}

.button.secondary .text-wrapper-2 {
  z-index: 1;
}

.button.extra-large .text-wrapper-2 {
  font-family: var(--body-styles-body-compact-01-font-family);
  font-size: var(--body-styles-body-compact-01-font-size);
  font-style: var(--body-styles-body-compact-01-font-style);
  font-weight: var(--body-styles-body-compact-01-font-weight);
  letter-spacing: var(--body-styles-body-compact-01-letter-spacing);
  line-height: var(--body-styles-body-compact-01-line-height);
}

.button.danger-ghost .text-wrapper-2 {
  z-index: 2;
}

.button.tertiary .text-wrapper-2 {
  z-index: 1;
}

.button.small .text-wrapper-2 {
  font-family: var(--body-styles-body-compact-01-font-family);
  font-size: var(--body-styles-body-compact-01-font-size);
  font-style: var(--body-styles-body-compact-01-font-style);
  font-weight: var(--body-styles-body-compact-01-font-weight);
  letter-spacing: var(--body-styles-body-compact-01-letter-spacing);
  line-height: var(--body-styles-body-compact-01-line-height);
}

.button.ghost .text-wrapper-2 {
  z-index: 2;
}

.button.danger-tertiary .text-wrapper-2 {
  z-index: 1;
}

.button.tertiary.focus .text-wrapper-2 {
  color: var(--theme-text-text-inverse);
}

.button.danger-ghost.disabled .text-wrapper-2 {
  color: var(--theme-button-button-disabled);
}

.button.active.danger-primary .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.hover.danger-tertiary .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.disabled.danger-primary .text-wrapper-2 {
  color: var(--theme-text-text-on-color-disabled);
}

.button.secondary.focus .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.primary.disabled .text-wrapper-2 {
  color: var(--theme-text-text-on-color-disabled);
}

.button.primary.enabled .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.enabled.danger-primary .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.secondary.hover .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.hover.danger-ghost .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.ghost.disabled .text-wrapper-2 {
  color: var(--theme-button-button-disabled);
}

.button.ghost.active .text-wrapper-2 {
  color: var(--theme-link-link-primary-hover);
}

.button.danger-primary.focus .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.enabled.tertiary .text-wrapper-2 {
  color: var(--theme-button-button-tertiary);
}

.button.primary.hover .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.enabled.danger-tertiary .text-wrapper-2 {
  color: var(--theme-button-button-danger-secondary);
}

.button.secondary.active .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.primary.focus .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.secondary.disabled .text-wrapper-2 {
  color: var(--theme-text-text-on-color-disabled);
}

.button.danger-ghost.active .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.tertiary.disabled .text-wrapper-2 {
  color: var(--theme-button-button-disabled);
}

.button.hover.ghost .text-wrapper-2 {
  color: var(--theme-link-link-primary-hover);
}

.button.ghost.focus .text-wrapper-2 {
  color: var(--theme-link-link-primary);
}

.button.enabled.ghost .text-wrapper-2 {
  color: var(--theme-link-link-primary);
}

.button.active.tertiary .text-wrapper-2 {
  color: var(--theme-text-text-inverse);
}

.button.primary.active .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.enabled.danger-ghost .text-wrapper-2 {
  color: var(--theme-button-button-danger-secondary);
}

.button.secondary.enabled .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.active.danger-tertiary .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.hover.danger-primary .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.disabled.danger-tertiary .text-wrapper-2 {
  color: var(--theme-button-button-disabled);
}

.button.danger-ghost.focus .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.danger-tertiary.focus .text-wrapper-2 {
  color: var(--theme-text-text-on-color);
}

.button.hover.tertiary .text-wrapper-2 {
  color: var(--theme-text-text-inverse);
}

.button.danger-primary .icon-3 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  z-index: 0;
}

.button.two-x-large .icon-3 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  top: 16px;
  z-index: 0;
}

.button.icon-only .icon-3 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
}

.button.primary .icon-3 {
  align-items: flex-start;
  display: inline-flex;
  position: absolute;
  z-index: 0;
}

.button.secondary .icon-3 {
  align-items: flex-start;
  display: inline-flex;
  position: absolute;
  z-index: 0;
}

.button.danger-ghost .icon-3 {
  flex: 0 0 auto;
}

.button.tertiary .icon-3 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  z-index: 0;
}

.button.danger-tertiary .icon-3 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  z-index: 0;
}

.button.tertiary.two-x-large .icon-3 {
  left: 92px;
}

.button.tertiary.extra-large .icon-3 {
  left: 92px;
  top: 16px;
}

.button.secondary.extra-large .icon-3 {
  flex-direction: column;
  left: 92px;
  top: 16px;
}

.button.secondary.two-x-large .icon-3 {
  left: 92px;
}

.button.primary.large .icon-3 {
  flex-direction: column;
  left: 92px;
  top: 16px;
}

.button.secondary.focus .icon-3 {
  flex-direction: column;
}

.button.primary.disabled .icon-3 {
  flex-direction: column;
}

.button.danger-ghost.expressive .icon-3 {
  position: relative;
  z-index: 1;
}

.button.danger-primary.expressive .icon-3 {
  left: 93px;
  top: 14px;
}

.button.small.danger-primary .icon-3 {
  left: 92px;
  top: 8px;
}

.button.secondary.hover .icon-3 {
  flex-direction: column;
}

.button.ghost.expressive .icon-3 {
  flex: 0 0 auto;
  position: relative;
}

.button.primary.medium .icon-3 {
  flex-direction: column;
  left: 92px;
  top: 12px;
}

.button.secondary.expressive .icon-3 {
  left: 93px;
  top: 14px;
}

.button.large.danger-primary .icon-3 {
  left: 92px;
  top: 16px;
}

.button.ghost.two-x-large .icon-3 {
  left: 68px;
}

.button.ghost.extra-large .icon-3 {
  flex: 0 0 auto;
  position: relative;
}

.button.small.tertiary .icon-3 {
  left: 92px;
  top: 8px;
}

.button.tertiary.medium .icon-3 {
  left: 92px;
  top: 12px;
}

.button.danger-ghost.medium .icon-3 {
  position: relative;
  z-index: 1;
}

.button.primary.hover .icon-3 {
  flex-direction: column;
}

.button.medium.danger-primary .icon-3 {
  left: 92px;
  top: 12px;
}

.button.danger-tertiary.expressive .icon-3 {
  left: 93px;
  top: 14px;
}

.button.primary.extra-large .icon-3 {
  flex-direction: column;
  left: 92px;
  top: 16px;
}

.button.danger-primary.extra-large .icon-3 {
  left: 92px;
  top: 16px;
}

.button.small.danger-tertiary .icon-3 {
  left: 92px;
  top: 8px;
}

.button.secondary.active .icon-3 {
  flex-direction: column;
}

.button.danger-ghost.extra-large .icon-3 {
  position: relative;
  z-index: 1;
}

.button.primary.focus .icon-3 {
  flex-direction: column;
}

.button.secondary.disabled .icon-3 {
  flex-direction: column;
}

.button.tertiary.large .icon-3 {
  left: 92px;
  top: 16px;
}

.button.primary.small .icon-3 {
  flex-direction: column;
  left: 92px;
  top: 8px;
}

.button.secondary.medium .icon-3 {
  flex-direction: column;
  left: 92px;
  top: 12px;
}

.button.small.danger-ghost .icon-3 {
  position: relative;
  z-index: 1;
}

.button.large.danger-tertiary .icon-3 {
  left: 92px;
  top: 16px;
}

.button.small.ghost .icon-3 {
  flex: 0 0 auto;
  position: relative;
}

.button.primary.two-x-large .icon-3 {
  left: 92px;
}

.button.secondary.large .icon-3 {
  flex-direction: column;
  left: 92px;
  top: 16px;
}

.button.primary.expressive .icon-3 {
  left: 93px;
  top: 14px;
}

.button.danger-ghost.large .icon-3 {
  position: relative;
  z-index: 1;
}

.button.primary.active .icon-3 {
  flex-direction: column;
}

.button.medium.danger-tertiary .icon-3 {
  left: 92px;
  top: 12px;
}

.button.danger-tertiary.extra-large .icon-3 {
  left: 92px;
  top: 16px;
}

.button.secondary.small .icon-3 {
  flex-direction: column;
  left: 92px;
  top: 8px;
}

.button.ghost.medium .icon-3 {
  flex: 0 0 auto;
  position: relative;
}

.button.tertiary.expressive .icon-3 {
  left: 93px;
  top: 14px;
}

.button.ghost.large .icon-3 {
  flex: 0 0 auto;
  position: relative;
}

.button.ghost.text-icon.extra-large .icon-3 {
  z-index: 1;
}

.button.ghost.text-icon.expressive .icon-3 {
  z-index: 1;
}

.button.small.ghost.text-icon .icon-3 {
  z-index: 1;
}

.button.ghost.text-icon.large .icon-3 {
  z-index: 1;
}

.button.ghost.text-icon.medium .icon-3 {
  z-index: 1;
}

.button.two-x-large .add-wrapper {
  left: 68px;
  top: 16px;
}

.button.large .add-wrapper {
  left: 68px;
  top: 16px;
}

.button.expressive .add-wrapper {
  left: 73px;
  top: 14px;
}

.button.medium .add-wrapper {
  left: 68px;
  top: 12px;
}

.button.extra-large .add-wrapper {
  left: 68px;
}

.button.small .add-wrapper {
  left: 68px;
  top: 8px;
}

.button.tertiary.extra-large .add-wrapper {
  top: 16px;
}

.button.secondary.extra-large .add-wrapper {
  top: 16px;
}

.button.active.extra-large .add-wrapper {
  top: 16px;
}

.button.ghost.extra-large .add-wrapper {
  top: 16px;
}

.button.disabled.extra-large .add-wrapper {
  top: 16px;
}

.button.primary.extra-large .add-wrapper {
  top: 16px;
}

.button.danger-primary.extra-large .add-wrapper {
  top: 16px;
}

.button.hover.extra-large .add-wrapper {
  top: 16px;
}

.button.skeleton.extra-large .add-wrapper {
  top: 16px;
}

.button.danger-tertiary.extra-large .add-wrapper {
  top: 16px;
}

.button.enabled.extra-large .add-wrapper {
  top: 16px;
}

.button.extra-large.danger-ghost.focus .add-wrapper {
  top: 15px;
}
